<div>
    <h2 id="page-heading">
        <span jhiTranslate="lacampesinaApp.clientes.home.title">Clientes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-clientes" [routerLink]="['/clientes/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="lacampesinaApp.clientes.home.createLabel">
            Create a new Clientes
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
        <span jhiTranslate="lacampesinaApp.clientes.home.notFound">No clientes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.activo">Activo</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.apellidos">Apellidos</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.direcion">Direcion</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.nombreContacto">Nombre Contacto</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.nombreEmpresa">Nombre Empresa</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.nombres">Nombres</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.notas">Notas</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.sitioWeb">Sitio Web</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.telefonoFijo">Telefono Fijo</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.telefonoFijo2">Telefono Fijo 2</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.telefonoMovil">Telefono Movil</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.telefonoMovil2">Telefono Movil 2</span></th>
                    <th scope="col" ><span jhiTranslate="lacampesinaApp.clientes.clienteId">Cliente Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clientes of clientes ;trackBy: trackId">
                    <td><a [routerLink]="['/clientes', clientes.id, 'view']">{{ clientes.id }}</a></td>
                    <td>{{ clientes.activo }}</td>
                    <td>{{ clientes.apellidos }}</td>
                    <td>{{ clientes.direcion }}</td>
                    <td>{{ clientes.email }}</td>
                    <td>{{ clientes.nombreContacto }}</td>
                    <td>{{ clientes.nombreEmpresa }}</td>
                    <td>{{ clientes.nombres }}</td>
                    <td>{{ clientes.notas }}</td>
                    <td>{{ clientes.sitioWeb }}</td>
                    <td>{{ clientes.telefonoFijo }}</td>
                    <td>{{ clientes.telefonoFijo2 }}</td>
                    <td>{{ clientes.telefonoMovil }}</td>
                    <td>{{ clientes.telefonoMovil2 }}</td>
                    <td>
                        <div *ngIf="clientes.clienteId">
                            <a [routerLink]="['/facturas-master', clientes.clienteId?.id, 'view']" >{{ clientes.clienteId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/clientes', clientes.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/clientes', clientes.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(clientes)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
