<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="clientes">
            <h2><span jhiTranslate="lacampesinaApp.clientes.detail.title">Clientes</span> {{ clientes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lacampesinaApp.clientes.activo">Activo</span></dt>
                <dd>
                    <span>{{ clientes.activo }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.apellidos">Apellidos</span></dt>
                <dd>
                    <span>{{ clientes.apellidos }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.createdAt">Created At</span></dt>
                <dd>
                    <span>{{ clientes.createdAt }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.direcion">Direcion</span></dt>
                <dd>
                    <span>{{ clientes.direcion }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.email">Email</span></dt>
                <dd>
                    <span>{{ clientes.email }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.nombreContacto">Nombre Contacto</span></dt>
                <dd>
                    <span>{{ clientes.nombreContacto }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.nombreEmpresa">Nombre Empresa</span></dt>
                <dd>
                    <span>{{ clientes.nombreEmpresa }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.nombres">Nombres</span></dt>
                <dd>
                    <span>{{ clientes.nombres }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.notas">Notas</span></dt>
                <dd>
                    <span>{{ clientes.notas }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.sitioWeb">Sitio Web</span></dt>
                <dd>
                    <span>{{ clientes.sitioWeb }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.telefonoFijo">Telefono Fijo</span></dt>
                <dd>
                    <span>{{ clientes.telefonoFijo }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.telefonoFijo2">Telefono Fijo 2</span></dt>
                <dd>
                    <span>{{ clientes.telefonoFijo2 }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.telefonoMovil">Telefono Movil</span></dt>
                <dd>
                    <span>{{ clientes.telefonoMovil }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.clientes.telefonoMovil2">Telefono Movil 2</span></dt>
                <dd>
                    <span>{{ clientes.telefonoMovil2 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/clientes', clientes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
