<div>
  <h2 id="page-heading" data-cy="ClientesHeading">
    <span>Clientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-clientes"
        [routerLink]="['/clientes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Clientes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span>No clientes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Activo</span></th>
          <th scope="col"><span>Apellidos</span></th>
          <th scope="col"><span>Direcion</span></th>
          <th scope="col"><span>Email</span></th>
          <th scope="col"><span>Nombre Contacto</span></th>
          <th scope="col"><span>Nombre Empresa</span></th>
          <th scope="col"><span>Nombres</span></th>
          <th scope="col"><span>Notas</span></th>
          <th scope="col"><span>Sitio Web</span></th>
          <th scope="col"><span>Telefono Fijo</span></th>
          <th scope="col"><span>Telefono Fijo 2</span></th>
          <th scope="col"><span>Telefono Movil</span></th>
          <th scope="col"><span>Telefono Movil 2</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientes of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/clientes', clientes.id, 'view']">{{ clientes.id }}</a>
          </td>
          <td>{{ clientes.activo }}</td>
          <td>{{ clientes.apellidos }}</td>
          <td>{{ clientes.direcion }}</td>
          <td>{{ clientes.email }}</td>
          <td>{{ clientes.nombreContacto }}</td>
          <td>{{ clientes.nombreEmpresa }}</td>
          <td>{{ clientes.nombres }}</td>
          <td>{{ clientes.notas }}</td>
          <td>{{ clientes.sitioWeb }}</td>
          <td>{{ clientes.telefonoFijo }}</td>
          <td>{{ clientes.telefonoFijo2 }}</td>
          <td>{{ clientes.telefonoMovil }}</td>
          <td>{{ clientes.telefonoMovil2 }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/clientes', clientes.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/clientes', clientes.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(clientes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
