<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-detalles-heading" data-cy="DetallesCreateUpdateHeading">Create or edit a Detalles</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="field_cantidad" data-cy="cantidad" formControlName="cantidad" />
          <div *ngIf="editForm.get('cantidad')!.invalid && (editForm.get('cantidad')!.dirty || editForm.get('cantidad')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cantidad')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('cantidad')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_facturas">Facturas</label>
          <select class="form-control" id="field_facturas" data-cy="facturas" name="facturas" formControlName="facturas">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="facturasOption.id === editForm.get('facturas')!.value?.id ? editForm.get('facturas')!.value : facturasOption"
              *ngFor="let facturasOption of facturasSharedCollection; trackBy: trackFacturasById"
            >
              {{ facturasOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lotes">Lotes</label>
          <select class="form-control" id="field_lotes" data-cy="lotes" name="lotes" formControlName="lotes">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="lotesOption.id === editForm.get('lotes')!.value?.id ? editForm.get('lotes')!.value : lotesOption"
              *ngFor="let lotesOption of lotesSharedCollection; trackBy: trackLotesById"
            >
              {{ lotesOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
