<div>
  <h2 id="page-heading" data-cy="LotesHeading">
    <span>Lotes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lotes"
        [routerLink]="['/lotes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Lotes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lotes?.length === 0">
    <span>No lotes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lotes && lotes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Cantidad</span></th>
          <th scope="col"><span>Fecha Entrada</span></th>
          <th scope="col"><span>Lote</span></th>
          <th scope="col"><span>Productos</span></th>
          <th scope="col"><span>Precios</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lotes of lotes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lotes', lotes.id, 'view']">{{ lotes.id }}</a>
          </td>
          <td>{{ lotes.cantidad }}</td>
          <td>{{ lotes.fechaEntrada | formatMediumDate }}</td>
          <td>{{ lotes.lote }}</td>
          <td>
            <div *ngIf="lotes.productos">
              <a [routerLink]="['/productos', lotes.productos?.id, 'view']">{{ lotes.productos?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lotes.precios">
              <a [routerLink]="['/precios', lotes.precios?.id, 'view']">{{ lotes.precios?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/lotes', lotes.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/lotes', lotes.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(lotes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
