<div>
  <h2 id="page-heading" data-cy="AbonosHeading">
    <span>Abonos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-abonos"
        [routerLink]="['/abonos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Abonos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="abonos?.length === 0">
    <span>No abonos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="abonos && abonos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Saldo Anterior</span></th>
          <th scope="col"><span>Abono</span></th>
          <th scope="col"><span>Nuevo Saldo</span></th>
          <th scope="col"><span>Facturas</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let abonos of abonos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/abonos', abonos.id, 'view']">{{ abonos.id }}</a>
          </td>
          <td>{{ abonos.saldoAnterior }}</td>
          <td>{{ abonos.abono }}</td>
          <td>{{ abonos.nuevoSaldo }}</td>
          <td>
            <div *ngIf="abonos.facturas">
              <a [routerLink]="['/facturas', abonos.facturas?.id, 'view']">{{ abonos.facturas?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/abonos', abonos.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/abonos', abonos.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(abonos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
