<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-abonos-heading" data-cy="AbonosCreateUpdateHeading">Create or edit a Abonos</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_saldoAnterior">Saldo Anterior</label>
          <input
            type="number"
            class="form-control"
            name="saldoAnterior"
            id="field_saldoAnterior"
            data-cy="saldoAnterior"
            formControlName="saldoAnterior"
          />
          <div
            *ngIf="
              editForm.get('saldoAnterior')!.invalid && (editForm.get('saldoAnterior')!.dirty || editForm.get('saldoAnterior')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('saldoAnterior')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('saldoAnterior')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_abono">Abono</label>
          <input type="number" class="form-control" name="abono" id="field_abono" data-cy="abono" formControlName="abono" />
          <div *ngIf="editForm.get('abono')!.invalid && (editForm.get('abono')!.dirty || editForm.get('abono')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('abono')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('abono')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nuevoSaldo">Nuevo Saldo</label>
          <input
            type="number"
            class="form-control"
            name="nuevoSaldo"
            id="field_nuevoSaldo"
            data-cy="nuevoSaldo"
            formControlName="nuevoSaldo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_facturas">Facturas</label>
          <select class="form-control" id="field_facturas" data-cy="facturas" name="facturas" formControlName="facturas">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="facturasOption.id === editForm.get('facturas')!.value?.id ? editForm.get('facturas')!.value : facturasOption"
              *ngFor="let facturasOption of facturasSharedCollection; trackBy: trackFacturasById"
            >
              {{ facturasOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
