<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tickets-heading" jhiTranslate="lacampesinaApp.tickets.home.createOrEditLabel">Create or edit a Tickets</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.tickets.cantidad" for="field_cantidad">Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                           formControlName="cantidad"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.tickets.fechaExpedicion" for="field_fechaExpedicion">Fecha Expedicion</label>
                    <div class="input-group">
                        <input id="field_fechaExpedicion" type="text" class="form-control" name="fechaExpedicion" ngbDatepicker #fechaExpedicionDp="ngbDatepicker" formControlName="fechaExpedicion"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaExpedicionDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.tickets.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.tickets.precioId" for="field_precioId">Precio Id</label>
                    <select class="form-control" id="field_precioId" name="precioId" formControlName="precioId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="preciosOption.id === editForm.get('precioId')!.value?.id ? editForm.get('precioId')!.value : preciosOption" *ngFor="let preciosOption of precios; trackBy: trackById">{{ preciosOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
