<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lotes-heading" jhiTranslate="lacampesinaApp.lotes.home.createOrEditLabel">Create or edit a Lotes</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.lotes.cantidad" for="field_cantidad">Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                           formControlName="cantidad"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.lotes.fechaEntrada" for="field_fechaEntrada">Fecha Entrada</label>
                    <div class="input-group">
                        <input id="field_fechaEntrada" type="text" class="form-control" name="fechaEntrada" ngbDatepicker #fechaEntradaDp="ngbDatepicker" formControlName="fechaEntrada"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaEntradaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.lotes.lote" for="field_lote">Lote</label>
                    <input type="text" class="form-control" name="lote" id="field_lote"
                           formControlName="lote"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.lotes.productoId" for="field_productoId">Producto Id</label>
                    <select class="form-control" id="field_productoId" name="productoId" formControlName="productoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productosOption.id === editForm.get('productoId')!.value?.id ? editForm.get('productoId')!.value : productosOption" *ngFor="let productosOption of productos; trackBy: trackById">{{ productosOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.lotes.proveedorId" for="field_proveedorId">Proveedor Id</label>
                    <select class="form-control" id="field_proveedorId" name="proveedorId" formControlName="proveedorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="proveedoresOption.id === editForm.get('proveedorId')!.value?.id ? editForm.get('proveedorId')!.value : proveedoresOption" *ngFor="let proveedoresOption of proveedores; trackBy: trackById">{{ proveedoresOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
