<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lotes">
            <h2><span jhiTranslate="lacampesinaApp.lotes.detail.title">Lotes</span> {{ lotes.lote }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lacampesinaApp.lotes.lote">Lote</span></dt>
                <dd>
                    <span>{{ lotes.id }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.lotes.cantidad">Cantidad</span></dt>
                <dd>
                    <span>{{ lotes.cantidad }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.lotes.fechaEntrada">Fecha Entrada</span></dt>
                <dd>
                    <span>{{ lotes.fechaEntrada }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.lotes.productoId">Producto</span></dt>
                <dd>
                    <div *ngIf="lotes.productoId">
                        <a [routerLink]="['/productos', lotes.productoId?.id, 'view']">{{ lotes.productoId?.nombre }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.lotes.proveedorId">Proveedor</span></dt>
                <dd>
                    <div *ngIf="lotes.proveedorId">
                        <a [routerLink]="['/proveedores', lotes.proveedorId?.id, 'view']">{{ lotes.proveedorId?.nombreEmpresa }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lotes', lotes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
