<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="lotes">
      <h2 data-cy="lotesDetailsHeading"><span>Lotes</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ lotes.id }}</span>
        </dd>
        <dt><span>Cantidad</span></dt>
        <dd>
          <span>{{ lotes.cantidad }}</span>
        </dd>
        <dt><span>Fecha Entrada</span></dt>
        <dd>
          <span>{{ lotes.fechaEntrada | formatMediumDate }}</span>
        </dd>
        <dt><span>Lote</span></dt>
        <dd>
          <span>{{ lotes.lote }}</span>
        </dd>
        <dt><span>Productos</span></dt>
        <dd>
          <div *ngIf="lotes.productos">
            <a [routerLink]="['/productos', lotes.productos?.id, 'view']">{{ lotes.productos?.id }}</a>
          </div>
        </dd>
        <dt><span>Precios</span></dt>
        <dd>
          <div *ngIf="lotes.precios">
            <a [routerLink]="['/precios', lotes.precios?.id, 'view']">{{ lotes.precios?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lotes', lotes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
