<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-abono-facturas-heading" jhiTranslate="lacampesinaApp.abonoFacturas.home.createOrEditLabel">Create or edit a Abono Facturas</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.abonoFacturas.saldoAnterior" for="field_saldoAnterior">Saldo Anterior</label>
                    <input type="number" class="form-control" name="saldoAnterior" id="field_saldoAnterior"
                           formControlName="saldoAnterior"/>
                    <div *ngIf="editForm.get('saldoAnterior')!.invalid && (editForm.get('saldoAnterior')!.dirty || editForm.get('saldoAnterior')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('saldoAnterior')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('saldoAnterior')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.abonoFacturas.abono" for="field_abono">Abono</label>
                    <input type="number" class="form-control" name="abono" id="field_abono"
                           formControlName="abono"/>
                    <div *ngIf="editForm.get('abono')!.invalid && (editForm.get('abono')!.dirty || editForm.get('abono')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('abono')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('abono')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.abonoFacturas.nuevoSaldo" for="field_nuevoSaldo">Nuevo Saldo</label>
                    <input type="number" class="form-control" name="nuevoSaldo" id="field_nuevoSaldo"
                           formControlName="nuevoSaldo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lacampesinaApp.abonoFacturas.abonoId" for="field_abonoId">Abono Id</label>
                    <select class="form-control" id="field_abonoId" name="abonoId" formControlName="abonoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="facturasMasterOption.id === editForm.get('abonoId')!.value?.id ? editForm.get('abonoId')!.value : facturasMasterOption" *ngFor="let facturasMasterOption of facturasmasters; trackBy: trackById">{{ facturasMasterOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
