<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facturasMaster">
            <h2><span jhiTranslate="lacampesinaApp.facturasMaster.detail.title">Facturas Master</span> {{ facturasMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lacampesinaApp.facturasMaster.numeroFactura">Numero Factura</span></dt>
                <dd>
                    <span>{{ facturasMaster.numeroFactura }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.facturasMaster.fechaFactura">Fecha Factura</span></dt>
                <dd>
                    <span>{{ facturasMaster.fechaFactura }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.facturasMaster.condicionPago">Condicion Pago</span></dt>
                <dd>
                    <span>{{ facturasMaster.condicionPago }}</span>
                </dd>
                <dt><span jhiTranslate="lacampesinaApp.facturasMaster.facturaMasterId">Factura Master Id</span></dt>
                <dd>
                    <div *ngIf="facturasMaster.facturaMasterId">
                        <a [routerLink]="['/facturas-detalle', facturasMaster.facturaMasterId?.id, 'view']">{{ facturasMaster.facturaMasterId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/facturas-master', facturasMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
