<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-facturas-heading" data-cy="FacturasCreateUpdateHeading">Create or edit a Facturas</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numeroFactura">Numero Factura</label>
          <input
            type="number"
            class="form-control"
            name="numeroFactura"
            id="field_numeroFactura"
            data-cy="numeroFactura"
            formControlName="numeroFactura"
          />
          <div
            *ngIf="
              editForm.get('numeroFactura')!.invalid && (editForm.get('numeroFactura')!.dirty || editForm.get('numeroFactura')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('numeroFactura')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('numeroFactura')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fechaFactura">Fecha Factura</label>
          <div class="d-flex">
            <input
              id="field_fechaFactura"
              data-cy="fechaFactura"
              type="datetime-local"
              class="form-control"
              name="fechaFactura"
              formControlName="fechaFactura"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_condicionPago">Condicion Pago</label>
          <input
            type="checkbox"
            class="form-check"
            name="condicionPago"
            id="field_condicionPago"
            data-cy="condicionPago"
            formControlName="condicionPago"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_clientes">Clientes</label>
          <select class="form-control" id="field_clientes" data-cy="clientes" name="clientes" formControlName="clientes">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clientesOption.id === editForm.get('clientes')!.value?.id ? editForm.get('clientes')!.value : clientesOption"
              *ngFor="let clientesOption of clientesSharedCollection; trackBy: trackClientesById"
            >
              {{ clientesOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>

    <div>
      <br />
    </div>

    <div>
      <button
        id="add-items-detalles"
        data-cy="entityAddDetails"
        (click)="agregarItemsDetalles()"
        [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary"
      >
        <fa-icon icon="plus"></fa-icon>&nbsp;<span>Agregar Detalle/s Factura</span>
      </button>
    </div>

    <div>
      <br />
    </div>

    <!--  -->

    <div class="agregar-detalles-form" [formGroup]="detallesFrm">
      <div class="table-responsive" id="items-headers">
        <table class="table table-stripped table table-hover" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col"><span>Id</span></th>
              <th scope="col"><span>Cantidad</span></th>
              <th scope="col"><span>Total</span></th>
              <th scope="col"><span>Factura</span></th>
              <th scope="col"><span>Lote</span></th>
              <th scope="col"><span>Producto</span></th>
            </tr>
          </thead>
        </table>
      </div>

      <ng-container formArrayName="itemsDetalles">
        <ng-container *ngFor="let detallesForm of itemsDetalles.controls; let i = index">
          <form name="agregarDetallesForm" role="form" novalidate [formGroup]="detallesForm">
            <div class="table-responsive" id="items-detalles">
              <table class="table table-borderless" aria-describedby="page-heading">
                <tbody>
                  <tr>
                    <td>
                      <div class="form-group">
                        <input class="form-control" type="number" name="id" id="field_id" formControlName="id" />
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <input class="form-control" type="number" name="cantidad" id="field_cantidad" formControlName="cantidad" />
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <input class="form-control" type="number" name="total" id="field_total" formControlName="total" />
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <input class="form-control" type="number" name="factura" id="field_factura" formControlName="factura" />
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <select
                          class="form-control"
                          id="field_lotes"
                          name="lotes"
                          formControlName="lotes"
                          (change)="mostrarProductosPorLote(lotesOption)"
                        >
                          <option [ngValue]="null"></option>
                          <option
                            [ngValue]="
                              lotesOption.id === detallesForm.get('lotes')!.value?.id ? detallesForm.get('lotes')!.value : lotesOption
                            "
                            *ngFor="let lotesOption of lotesList; trackBy: trackLotesById"
                          >
                            {{ lotesOption.lote }}
                          </option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="form-group"></div>
                      <select class="form-control" id="field_productos" name="productos" formControlName="productos">
                        <option [ngValue]="null"></option>
                        <option
                          [ngValue]="
                            productosOption.id === detallesForm.get('productos')!.value?.id
                              ? detallesForm.get('productos')!.value
                              : productosOption
                          "
                          *ngFor="let productosOption of productosList; trackBy: trackProductosById"
                        >
                          {{ productosOption.lote }}
                        </option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <!--  -->
</div>
