<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-facturas-heading" data-cy="FacturasCreateUpdateHeading">Create or edit a Facturas</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numeroFactura">Numero Factura</label>
          <input
            type="number"
            class="form-control"
            name="numeroFactura"
            id="field_numeroFactura"
            data-cy="numeroFactura"
            formControlName="numeroFactura"
          />
          <div
            *ngIf="
              editForm.get('numeroFactura')!.invalid && (editForm.get('numeroFactura')!.dirty || editForm.get('numeroFactura')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('numeroFactura')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('numeroFactura')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fechaFactura">Fecha Factura</label>
          <div class="d-flex">
            <input
              id="field_fechaFactura"
              data-cy="fechaFactura"
              type="datetime-local"
              class="form-control"
              name="fechaFactura"
              formControlName="fechaFactura"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_condicionPago">Condicion Pago</label>
          <input
            type="checkbox"
            class="form-check"
            name="condicionPago"
            id="field_condicionPago"
            data-cy="condicionPago"
            formControlName="condicionPago"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_clientes">Clientes</label>
          <select class="form-control" id="field_clientes" data-cy="clientes" name="clientes" formControlName="clientes">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clientesOption.id === editForm.get('clientes')!.value?.id ? editForm.get('clientes')!.value : clientesOption"
              *ngFor="let clientesOption of clientesSharedCollection; trackBy: trackClientesById"
            >
              {{ clientesOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>

    <!-- DETALLES -->

    <div>
      <h2 id="page-heading" data-cy="DetallesHeading">
        <span>Detalles</span>

        <div class="d-flex justify-content-end">
          <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span>Refresh List</span>
          </button>

          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-detalles"
            [routerLink]="['/detalles/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span> Create a new Detalles </span>
          </button>
        </div>
      </h2>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="alert alert-warning" id="no-result" *ngIf="detalles?.length === 0">
        <span>No detalles found</span>
      </div>

      <div class="table-responsive" id="entities" *ngIf="detalles && detalles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col"><span>Id</span></th>
              <th scope="col"><span>Cantidad</span></th>
              <th scope="col"><span>Total</span></th>
              <th scope="col"><span>Facturas</span></th>
              <th scope="col"><span>Lotes</span></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalles of detalles; trackBy: trackId" data-cy="entityTable">
              <td>
                <a [routerLink]="['/detalles', detalles.id, 'view']">{{ detalles.id }}</a>
              </td>
              <td>{{ detalles.cantidad }}</td>
              <td>{{ detalles.total }}</td>
              <td>
                <div *ngIf="detalles.facturas">
                  <a [routerLink]="['/facturas', detalles.facturas?.id, 'view']">{{ detalles.facturas?.id }}</a>
                </div>
              </td>
              <td>
                <div *ngIf="detalles.lotes">
                  <a [routerLink]="['/lotes', detalles.lotes?.id, 'view']">{{ detalles.lotes?.id }}</a>
                </div>
              </td>
              <td class="text-right">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/detalles', detalles.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </button>

                  <button
                    type="submit"
                    [routerLink]="['/detalles', detalles.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </button>

                  <button type="submit" (click)="delete(detalles)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--  -->
  </div>
</div>
